.parentContainer {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    gap: 50px; /* Adjust the gap between the first and second div */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 50vh; /* Full height of the viewport */
    /* background-color: #f8f9fa; Light background color */
    /* border-radius: 10px; Rounded corners */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Subtle shadow */
}

.container {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust the gap between elements */
    /* background-color: #f8f9fa; Light background color */
    /* border-radius: 10px; Rounded corners */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Subtle shadow */
}

.customButton {
    padding-left: 30px; /* Add padding to the left of the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.customButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
}