/* DHCP.module.css */

.navbar {
    background-color: #a0aebe85; /* Dark background color */
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
    border-width: 10px;
}

.navbar-brand {
    font-size: 10%;
    font-weight: bold;
    color: #000000; /* White text color */
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-size: 1rem;
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    color: #000000; /* White text color */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #306eab; /* Light gray text color */
}

.nav-link.active {
    color: #ff0000; /* Color for the active link */
}